body{
	font-family:;
	background-image: url(https://images.unsplash.com/photo-1531265726475-52ad60219627?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1968&q=80);
	background-size: cover;
	opacity: ;
	color: white;
	background-position: ;