body {
  background-color: #A9A9A9;
  font-family: 'Roboto', sans-serif;
}

ul {
  margin: 1rem;
  padding: 2rem;
  overflow: hidden;
  background-color: #333;
  font-size: 1.5rem;
  
}

li {
  display: inline-block;
  padding: 1rem;
}

li a {
  color: white;
  text-align: center;
}

/* Change the link color to #111 (black) on hover */

li a:hover {
  background-color: #111;
}

nav {
  padding-bottom: 3rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 4rem;
  text-align: center;
  padding-top: 7%;
}

.potrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  max-width: 15em;
  height: 12em;
  background-color: powderblue;
}

h3,
h2 {
  text-align: center;
}

.school {
  text-align: center;
  /*border-width: 3px;
 text-align: center;
 padding-right: 50px;
 padding-left: 50px;
  margin-right: 150px;
  margin-left: 80px; */
}

.experience {
  text-align: center;
  /*border-width: 3px;
  text-align: center;
  padding-right: 150px;
  padding-left: 150px;
  margin-right: 150px;
  margin-left: 80px;*/
}

.jiujitsu,
.blockchain,
.project {
  border-width: 3px;
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
  margin: auto;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 50px;
  float: left;
  width: 50%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 50%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.start {
  text-align: center;
}

.project,
.responsive {
  margin: auto;
}